<%- include('header.ejs') %>
    <form action="/create" method="post" class="form-class">
        <input type="text" name="name" required placeholder="Enter your name">
        <input type="text" name="image" required placeholder="enter url of image">
        <input type="number" name="age" required placeholder="enter your age">
        <input type="submit">
    </form>
